<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">
	<select id="getAllUserList"
		resultType="com.example.demo.dto.UserDTO">
		SELECT email FROM customer
	</select>

	<insert id="InsertUser"
		parameterType="com.example.demo.dto.UserDTO">
		INSERT INTO customer
		(email, userpwd, username, tel, RRN)
		VALUES(#{email},#{userpwd},#{username},#{tel},#{RRN});
	</insert>

	<select id="getuserpwd" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT userpwd FROM customer WHERE email=#{email}
	</select>

	<select id="isEmailDuplicated" resultType="int">
		SELECT COUNT(*) FROM customer WHERE email = #{email}
	</select>

	<select id="findByEmail"
		resultType="com.example.demo.dto.UserDTO">
		SELECT * FROM customer WHERE email = #{email}
	</select>
	<update id="changePwd">
    	update customer set userpwd = #{changePwd} where email = #{email}
	</update>
	
	<select id="EmailReq" resultType="int">
		SELECT req FROM customer WHERE email = #{email}
	</select>
</mapper> 